/*css for historlog table*/
.historylog-css{
    background-color:white;
    width:100%;
}
.historylog-css:hover,.historylog-css:active,.historylog-css::after{
    background-color: white;
}
.pages{
    float:right;
    margin: 1rem;
  

}
.historytable{
    
  width: 89vw;
  height: 55vh;
 background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.2rem 0.2rem #003e6129;
  border: 1px solid #e4e4e4;
  border-radius: 1rem;
  opacity: 1;
  padding: 1rem 1rem 1rem 1rem;
  align-content: center;
  margin:  1rem; 
  scroll-behavior: smooth;
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: auto;
  overflow-y: scroll;
 
}
.pagebutton{
    height:5vh;
    width: 8vw;
    background-color: #0f206c;
    color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 0px;
    padding: 3px 10px;
    margin-right: 5px;
    border: none;
}
.history-filter{
    width: 89vw;
    height: 15vh;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.2rem 0.2rem #003e6129;
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
    opacity: 1;
    align-content: center;
    margin:  1rem; 
    padding: 1rem;
}
.history-input{
    width: 15vw !important;
    height:6vh !important;
    margin: 0.5rem 1rem !important;
    border: #212121 !important;
    border-width: 1px !important;
}
.history-submitbtn{
    width: 10vw;
    height:6vh;
    margin: 1rem 1.2rem;
    background-color: #0f206c;
    color: white;
    border: none;
}
.thf {
    color: #0f206c;
    font-size: 1rem;
    padding: 1rem 1rem 0.3rem 2rem;
    justify-content: space-evenly;
    font-weight: bold;
    font-stretch: 1rem;
    text-align: center;
    width: 12vw;
    border-bottom: 1px solid #212121;
    
  }
  .tdf{
    color: black;
    font-size: 0.8rem;
    padding: 1rem 1rem 0.3rem 2rem;
    justify-content: space-evenly;
    font-weight: bold;
    text-align: center;
    width: 12vw;
   
  }
  /* tr:nth-child(odd) {
    background-color: lightblue;
} */
.history-input svg{

    padding-right: 30px;

    width: 4vw;

    height: 4vh;  

}
