.div-configpage{
  width: 88vw;
  margin:  0.5rem; 
  float: right;
  text-align: left;
  
}


.div-model-1 {
  display: flex;
  width: 88vw;
  float: right;
  column-gap: 0.5vw;
}
.tablecontainer {
  display: flex;
  width: 45vw;
  height: 50vh;
   flex-direction: column; 
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.2rem 0.2rem #003e6129;
  border: 1px solid #e4e4e4;
  border-radius: 1rem;
  opacity: 1;
  padding: 1rem 1rem 1rem 1rem;
  align-content: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  scroll-behavior: auto;
  overflow-y: scroll;
}

.td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 0.5rem ;
  font-size: 0.7rem;
  font-weight: bold;
  font-stretch: 1rem;
  column-gap: 5rem;
  width: 10vw;
  justify-content: space-evenly;
}

.tda {
  text-align: center;
  padding: 0.5rem ;
  font-size: 0.7rem;
  font-weight: bold;
  font-stretch: 1rem;
  column-gap: 5rem;
  width: 10vw;
  justify-content: space-evenly;
  cursor: pointer;
}
.th {
  color: #0f206c;
  font-size: 0.7rem;
  padding: 0.7rem;
  justify-content: space-evenly;
  font-weight: bold;
  font-stretch: 1rem;
  text-align: center;
  width: 6vw;
  border-bottom: 1px solid #212121;
}
.table {
  border-collapse: collapse;
}

.form {
  display: flex;
  font-size: 0.8rem;
}

form td:last-child {
  display: flex;
  justify-content: space-between;
}

.div-model-2 {
  display: flex;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.2rem 0.2rem #003e6129;
  border: 1px solid #EEEEEE;
  border-radius: 1rem;
  opacity: 1;
  padding: 1rem 1rem 1rem 1rem;
  align-content: center;
  margin-top: 1rem;
  width: 88vw;
  float: right;
opacity: 1;
}
.option {
  width: 16vw;
  margin-left: 0.5rem;
  color: #212121;
  font-size: 0.7rem;
  font-weight: bold;
}
.select {
  width: 16vw;
  height: 5vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  opacity: 1;
  margin-left: 0.5rem;
  color: #78909c;
  font-size: 0.7rem;
  padding-left: 5px;
}
h3 {
  text-align: left;
  font-size: 1rem;
}
h1{
    margin-bottom: 0.8rem;
    font-size: 2.3rem !important;
}
.configbrowse{
  width: 3vw;
font-size: 0.8rem;
background: #0f206c;
opacity: 1;
letter-spacing: 0px;
border-radius: 0px;
color: #FFFFFF;
text-align: center; 
padding: 0.5rem;
cursor: pointer;
margin:0.5rem
} 

.uploadbutton {
  width: 16vw;
  height: 5vh;
  background: #0f206c 0% 0% no-repeat padding-box;
  color: white;
  border: none;
  opacity: 1;
  margin: 1.5rem 1rem;
  font: normal normal normal 16px/5px Roboto;
  font-size: 0.7rem;
  cursor: pointer;
}

/* .over{
  color: aqua;
overflow: hidden;
} */

 .configupload{
  display: flex;
  justify-content: space-around;
  text-align: left;
  
}













.abcdef {
  text-align: center;
  width: 656px;
height: 300px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #BDBDBD;
border-radius: 5px;
opacity: 1;
padding-top: 80px;
line-height: 50px;
}

.sucess{
  width: auto;
height: 520px;
  /* background: #000000 0% 0% no-repeat padding-box; */
opacity: 0.7;
text-align: center;
padding: 100px 0 0px 350px;
}

.sucesslogo{
  width: 61px;
  top: -300px;
height: 61px;
/* background: transparent url('img/ï˜.png') 0% 0% no-repeat padding-box; */
 opacity: 1;
 position: relative;
}

.sucesstext{ 
  /* width: 421px; */
/* height: 29px; */
/* text-align: left; */
 font: normal normal medium 24px/1px Roboto;
letter-spacing: 0px;
color: #212121;
opacity: 1;
top: -300px;
position: relative;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */  
tbody>tr:nth-child(odd) {
  background-color: lightblue;
}
td{
  border-style: none;
  border-width: 0;
}
