/*styling for login page*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.bg{
  width:100vw;
  height:100vh; 
  padding-top: 20vh !important; 

}
.div-login {
  /* width:100vw;
  height:100vh; */
  /* top: 199px;
left: 700px;
width: 520px;
height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: white; */

  /* left: 700px; */
  margin:auto; 
  width: 23vw;
  /* height: 50vh; */
  /* margin-top: 20vh;     */
 
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #003e6129;
  border: 1px solid #e4e4e4;
  border-radius: 1rem;
  opacity: 1;
  padding: 0.5rem 1rem 1rem 1rem;
  align-content: center;
  font: normal normal normal 16px/5px Roboto; 
}


.div-login-logo{
  /* display: flex; */
  justify-content: space-evenly;
  flex-direction: row;
  margin: 10px 10px 20px 10px;
  padding-left: 10px;
  /* margin:1.3rem; */

  /* font: normal normal normal 16px/5px Roboto; */
  /* flex: 0.2; */

  /* top: 254px;
    left: 749px;
    width: 159px;
    height: 71px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
background: transparent url('img/Group 5806.png') 0% 0% no-repeat padding-box;
opacity: 1; */
}

.mail {
  /* width: 95%;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif; */
  /* top: 405px;
  left: 748px; */
  width: 18vw;
  height: 5vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bdbdbd;
  opacity: 1;
  margin: 1.1rem;
  color: #78909C;
  font: normal normal normal 16px/5px Roboto;
  font-size: 0.7rem;
  padding-left: 7px;
  /* margin-left: 10px !important; */
  /* padding:0.1rem; */
  /* margin-right: 3rem; */
}
 .label {
  /* width: 24vw; */
  /* height: 5vh;
  margin: 1.3rem;  */
  color: #212121;
  font: normal normal normal 16px/5px Roboto;
  font-size: 0.7rem;
font-weight: bold;
padding-left: 19px;
 }

.remember {
  font-size:0;
  display: flex;
  justify-content: space-between;
  margin-right: 1.7rem;
  margin-left: 1.3rem;
  font: normal normal normal 16px/5px Roboto;
  font-size:0.7rem;
  align-items: center;
 
}

button.login-btn {
  /* width: 100%;
    margin: 5px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px; */
  /* top: 668px;
  left: 748px; */
  width: 18vw !important;
  height: 5vh;
  background: #0f206c 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 5px;
  border:none;
  opacity: 1;
  margin: 1rem;
  /* margin-left: 10px !important; */
  font: normal normal normal 16px/5px Roboto;
  font-size:0.9rem;
  cursor: pointer;
  text-align: center;
  /* margin-right: 10px; */
}

span.psw {
  float: right;
  padding-top: 16px;
}

.checkbox {
  /* top: 610px;
  left: 776px; */
  width: 0.7rem;
  height: 0.7rem;
  letter-spacing: 0px;
  font: normal normal normal 16px/5px Roboto;
  font-size:0.7rem;
 }

.p {
  text-align: left;
  /* font: normal normal normal 14px/1px Roboto;
  letter-spacing: 0px; */
  color: #304ffe;
  opacity: 1;
}


